{{define "main"}}
<div class="nes-container">
  <h2>Kids Login - Step 2: Code</h2>
  <i class="nes-squirtle"></i>

  <p>
    Please enter the four numbers sent to your parent's email
  </p>
  <form method="post" action="/welcome/kids/code" >
    <label>
      4 Digit Code
      <input class="nes-input" placeholder="Type code..." name="code" type="text" required>
    </label>
    <button class="nes-btn is-success" type="submit">Submit</button>
    <br/>
    <p class="nes-text is-error">{{if .Retry}}invalid code, try again{{end}}</p>
  </form>
</div>
{{end}}
