{{define "main"}}
<div style="display:flex; flex-direction:column;gap:2em">
  <div class="nes-container">
    <h2>Parent Registration <small>Step 2: Code</small></h2>
    <p>
      A verification code was sent to your email.
    </p>

    <form method="post" action="/welcome/parents/code" >
      <label>
        Code
        <input autofocus class="nes-input" placeholder="Enter code..." name="code" type="text" required>
      </label>
      <button class="nes-btn is-primary" type="submit">Submit</button>
      <br/>
      <p class="bad color">{{if .Retry}}invalid code, try again{{end}}</p>
    </form>

    <p>
      Didn't get a code?  <a href="/welcome">Start over</a>
    </p>
  </div>
</div>
{{end}}
