{{define "main"}}
<div style="display:flex; flex-direction:column;gap:2em">
  <div class="nes-container">
    <h2>Parent Registration <small>Step 2: Code</small></h2>
    <p>
      A verification code was sent to your email.
    </p>

    <form method="post" action="/welcome/parents/code" >
      <div>
        <label>
          4 Digit Code
          <input class="nes-input"
                 placeholder="Enter code..."
                 name="code"
                 type="text"
                 required
                 x-on:keydown="$refs.error.setHTML('')">
          <div x-ref="error" class="nes-text is-error">{{.Error}}</div>
        </label>
      </div>
      <button class="nes-btn is-primary" type="submit">Submit</button>
    </form>

    <p>
      Didn't get a code?  <a href="/welcome">Start over</a>
    </p>
  </div>
</div>
{{end}}
