{{define "main"}}
<div class="nes-container">
  <h2>Kids Login - Step 2: Code</h2>
  <i class="nes-squirtle"></i>

  <p>
    Please enter the four numbers sent to your parent's email
  </p>
  <form method="post" action="/welcome/kids/code" >
    <div>
      <label>
        4 Digit Code
        <input class="nes-input"
               placeholder="Type code..."
               name="code"
               type="text"
               required
               x-on:keydown="$refs.error.setHTML('')">
        <div x-ref="error" class="nes-text is-error">{{.Error}}</div>
      </label>
    </div>
    <button class="nes-btn is-success" type="submit">Submit</button>
  </form>
</div>
{{end}}
