{{define "main"}}
  <h1>Stickers!</h1>

  <p>Type a word to search for stickers</p>

  <form hx-post hx-target="#result" hx-swap="innerHTML">
    <input type="text" name="query" autofocus />
  </form>

  <div id="result">
  </div>
{{end}}


{{define "result"}}
  <img height=400 src={{.Image}}>
{{end}}
