{{define "main"}}
<script>
  const es = new EventSource("/es/room-{{.RoomID}}");

  // dispatch event for use by hx-trigger
  es.addEventListener("NEW_MESSAGE", (e) => {
    document.getElementsByTagName('body')[0].dispatchEvent(new Event("NEW_MESSAGE"))
  })
</script>

<style>
</style>

<div class="nes-container">
  <h1>chatting with {{.User.Username}}</h1>
  <div style="height: 400px; display:flex; flex-direction: column; background: rgba(255,255,255,.1)">
    <div class="is-dark" style="flex-grow: 1; height: 100%">
      <div style="display:flex; flex-direction: column; height: 100%; gap: 1em">
        <div style="flex:1; overflow-y: scroll; display:flex; flex-direction: column-reverse;">
          {{template "chatMessages" .}}
        </div>
        <div>
          {{template "chatInput" .}}
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "chatMessages"}}
<div
  hx-get="/u/{{.User.ID}}/chat"
  hx-trigger="NEW_MESSAGE from:body"
  id="messages-{{.User.ID}}"
  hx-select="#messages-{{.User.ID}}"
  hx-swap="outerHTML"
>
  {{range .Messages}}

  {{if (eq .SenderID $.Layout.User.ID)}}
  {{template "chat_message_mine" .}}
  {{else}}
  {{template "chat_message_other" .}}
  {{end}}
  {{end}}
</div>
{{end}}

{{define "chat_message_other"}}
<div style="display:flex">
  <img class="nes-avatar is-large" src="{{.SenderAvatarURL}}">
  <div class="nes-balloon from-left" style="overflow-wrap: break-word; max-width: 70%">
    {{.Body}}
  </div>
  <div style="flex:1"></div>
</div>
{{end}}

{{define "chat_message_mine"}}
<div style="display:flex; align-items: center">
  <div style="flex:1"></div>
  <div class="nes-balloon from-right" style="overflow-wrap: break-word; max-width: 70%">
    {{.Body}}
  </div>
  <img class="nes-avatar is-large" src="{{.SenderAvatarURL}}">
</div>
{{end}}

{{define "chatInput"}}
<form id="form2" class="f-row" hx-post="/chat/messages" hx-swap="outerHTML"
      _="on submit add @disabled to #inp">
  <input name="roomID" value="{{.RoomID}}" type="hidden">

  <div style="display:flex">
    <input id="inp" name="body" type="text" autofocus required class="nes-input" placeholder="Type a message">
    <button class="nes-btn is-primary">Send</button>
  </div>
</form>
{{end}}
