{{define "main"}}
<div class="f-col height:100%" ws-connect="/chat/socket/{{.RoomID}}">
  <h1>Chat with {{.User.Username}}</h1>

  <div id="chat_room">
    {{range .Messages}}

    {{if (eq .Sender $.User.Username)}}
    {{template "myMessage" .}}
    {{else}}
    {{template "theirMessage" .}}
    {{end}}

    {{end}}
  </div>

  <form id="form" ws-send _="on submit reset() me" hx-boost="false">
    <input name="chat_message" type="text" autofocus required>
    <input name="extrastuff" value="moo" type="hidden">
  </form>
</div>
{{end}}

{{define "theirMessage"}}
<div class="f-row">
  <div class="speech-bubble left">{{.Body}}</div>
</div>
{{end}}

{{define "myMessage"}}
<div class="f-row">
  <div class="flex-grow:1"></div>
  <div class="speech-bubble right">{{.Body}}</div>
</div>
{{end}}
