{{define "chat_messages"}}
<div id="messages">
  {{range .Messages}}
  {{if (eq $.User.Username .Sender)}}
  {{template "chat_message_mine" .}}
  {{else}}
  {{template "chat_message" .}}
  {{end}}
{{end}}
</div>
{{end}}

{{define "chat_message"}}
<div class="f-row">
  <div class="speech-bubble left">
    {{.Body}}
  </div>
  <div class="flex-grow:1" style="min-width:100px;"></div>
</div>
{{end}}

{{define "chat_message_mine"}}
<div class="f-row">
  <div class="flex-grow:1" style="min-width:100px"></div>
  <div class="speech-bubble right">
    {{.Body}}
  </div>
</div>
{{end}}

{{define "chat_input"}}
  <form hx-post="/chat/messages" hx-swap="outerHTML">
    <input type="text" name="body" autofocus class="width:100%">
  </form>
{{end}}
