{{define "main"}}
  <h1>Here's some fun things to do!</h1>

  <div style="display:flex; flex-direction:column">
    <a href="fun/stickers">
      <div class="nes-container ghost" style="display:flex">
        <i class="nes-kirby"></i>
        <h1>Sticker Book</h1>
      </div>
    </a>
  </div>
{{end}}
