{{define "main"}}
  <dialog open class="nes-dialog">
    <form method="post" action={{.LogoutActionURL}}>
      <p>You are currently logged in as {{.Layout.User.Username}}.</p>
      <p>This content is for a different user!</p>
      <div style="display:flex; justify-content: space-between">
        <button class="nes-btn is-primary">Switch User</button>
        <a href="/" class="nes-btn">Cancel</a>
      </div>
    </form>
  </dialog>

{{end}}
