{{define "main"}}
  <a href="/admin/quizzes">quizzes</a>
  <a href="/admin/messages">messages</a>

  <hr>

  {{range .Users}}
    <div>
      <a href="/u/{{.ID}}">{{.Username}}</a>
    </div>
  {{end}}
{{end}}
