{{define "head"}}
  <title>{{.User.Username}}</title>
{{end}}

{{define "main"}}
  <div style="display:flex;flex-direction:column;gap:1em;">
    {{template "card" .}}

    {{if .CanChat}}
      <a class="nes-btn is-success" href="/u/{{.User.ID}}/chat">Chat</a>
    {{end}}
  </div>
{{end}}
