{{define "main"}}
  <div class="page nes-container ghost">
    <h1>DONE {{.Quiz.Name}}</h1>
    <progress style="width:100%" max="1" value="1"></progress>

    <div>
      {{range .Responses}}
        <div>
          {{.Text}} | {{.Answer}} = {{.IsCorrect}}
        </div>
      {{end}}
    </div>
  </div>
{{end}}
